*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json

!doc
!doc/**
doc/ft_select\ 1.0.pdf

!images
!images/**

!inc
!inc/**

!src
!src/**

!Makefile
!.valgrind.supp
!leaks
!.gitignore
!README.md
!README_es.md
!LICENSE
