*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json

!doc
!doc/**
doc/ft_select\ 1.0.pdf

!inc
!inc/**

!src
!src/**

!Makefile
!.gitignore
!README.md
!README_es.md
!LICENSE
!ft_select.png
!W_ft_select.png
